@import 'https://at.alicdn.com/t/font_2488333_8hp8ss14z8.css';

html,
body {
  width: 100%;
  height: 100%;
  font-size: $html-font-size;
  color: $base-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  color: $base-font-color;
}


input {
  color: $base-font-color;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/*IE6å’ŒIE7*/
.clearfix {
  *zoom: 1;
}

.disabled {
  opacity: .3;
}

.mb-10 {
  margin-bottom: rem(10);
}

.p-10 {
  padding: rem(10);
}

.p-x-10 {
  padding: 0 rem(10);
}

.p-y-10 {
  padding: rem(10) 0;
}

.m-10 {
  margin: rem(10);
}

.m-y-10 {
  margin: rem(10) 0;
}

.m-x-10 {
  margin: 0 rem(10);
}

.fz-14 {
  font-size: rem(14);
}

.fz-16 {
  font-size: rem(16);
}

.fz-18 {
  font-size: rem(18);
}

.fz-20 {
  font-size: rem(20);
}