@import 'https://at.alicdn.com/t/font_2488333_c5i4rkjavlr.css';

html,
body {
  width: 100%;
  height: 100%;
  font-size: $html-font-size;
  color: $base-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  color: $base-font-color;
}


input {
  color: $base-font-color;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/*IE6å’ŒIE7*/
.clearfix {
  *zoom: 1;
}

.disabled {
  opacity: .3;
}