@import 'https://at.alicdn.com/t/font_2488333_n7uukujgcgs.css';

html,
body {
  width: 100%;
  height: 100%;
  font-size: $html-font-size;
  color: $base-font-color;
}

a {
  color: $base-font-color;
}


input {
  color: $base-font-color;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/*IE6和IE7*/
.clearfix {
  *zoom: 1;
}