@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-col-center {
  @include flex-col;
  align-items: center;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}